.products {
    background-image: url(../../../public/images/merchandise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    margin-bottom: 20px;
}

.overlay {
    background: rgba(39, 62, 84, 0.82);
    z-index: 2;
    height: 100%;
}

h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
}

.prod-hr {
    color: black;
    width: 250px;
    margin-left: 42%;
}

#image1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.caption {
    margin-bottom: 40px;
}

.item-h6{
    margin-top: 90px;
    margin-left: 650px;
    font-family: 'Ms Madi';
    font-size: 40px;
    color: burlywood;
}
.item-h1{
    margin-left: 700px;
    font-family: 'Ms Madi';
    font-size: 320px;
    color: burlywood;
}
.item-p{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}
