.counter {
    width: 10%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.counter__output {
    font-size: 30px;
}

.btn__container {
    justify-content: center;
    flex-direction: row;
}

.control__btn {
    font-size: 30px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.control__btn:hover {
    color: rgb(255, 255, 255);
}

.checkout-btns {
    float: right;
}

.chechout-btn {
    background: whitesmoke;
    border: 1px solid burlywood;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-right: 20px;
}

.chechout-btn:hover {
    background-color: burlywood;
    border: 1px solid whitesmoke;
}
.checkout-btn1:hover{
    background-color: brown !important;
}

/* delivery method page */
.delivery-method {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.delivery-btn {
    /* margin: 10px 15px !important; */
    padding: 10px 15px;
    color: whitesmoke;
    background: burlywood;
    border-radius: 35px !important;
    border: 1px solid burlywood;
}

.delivery-btn:hover {
    background: brown;
}